.container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 87vh;
  border-top: 1px solid rgba(41, 41, 67, 1);
}

.messageTitle {
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.messageMessage {
  font-weight: 500;
  font-size: 0.9rem;
  color: rgba(101, 104, 116, 1);
}
