.container {
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
  padding-left: 1.5rem;
}

.portfolio {
  display: flex;
  flex-direction: column;
  height: 87vh;
}

.balance {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem;
}

.balance > h3 {
  font-size: 1rem;
  font-weight: 600;
}

/* circle */
.center {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.outer {
  background: conic-gradient(
    rgb(42, 90, 218) 88deg,
    rgb(165, 219, 255) 92deg 178deg,
    rgb(247, 147, 26) 182deg 238deg,
    rgb(250, 238, 215) 242deg 360deg
  );
  position: relative;
  margin: 0 50px;
}

.circle {
  height: 175px;
  width: 175px;
  border-radius: 50%;
}
.outer button,
.outer span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.outer button {
  background: rgba(16, 18, 24, 1);
  color: #f2f2f2;
  outline: none;
  border: none;
  font-size: 20px;
  z-index: 9;
  letter-spacing: 1px;
  cursor: pointer;
}

.circle button {
  height: 155px;
  width: 155px;
  border-radius: 50%;
}
.outer span {
  height: 100%;
  width: 100%;
  background: inherit;
}
.button span {
  border-radius: 50px;
}
.circle span {
  border-radius: 50%;
}
.outer span:nth-child(1) {
  filter: blur(3px);
}
.outer span:nth-child(2) {
  filter: blur(5px);
}

/* custom circle styling */

.button {
  font-family: inherit;
}

.circle-title {
  font-size: 0.8rem;
  font-weight: 600;
  color: rgba(114, 123, 158, 1);
}

.circle-value {
  font-size: 1.1rem;
  font-weight: 600;
}

.circle-change {
  font-size: 1.1rem;
  font-weight: 300;
  color: rgb(111, 230, 169);
}

/* circle ends */

.details {
  display: flex;
  justify-content: flex-end;
  font-size: 0.8rem;
  font-weight: 500;
  color: rgba(114, 123, 158, 1);
  text-decoration: underline;
  margin-right: 1.5rem;
  margin-bottom: 2rem;
}

.details:hover {
  cursor: pointer;
}

.coins {
  display: flex;
  flex-direction: column;
  margin: 0.8rem 0 0.8rem 0;
}

.coin-row {
  display: flex;
  margin-bottom: 2rem;
}

.rows {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.widgets {
  display: flex;
  flex-direction: column;
}

.widget-text {
  font-size: 0.8rem;
  font-weight: 500;
  color: rgba(114, 123, 158, 1);
}

.widget-title {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.green {
  color: rgb(111, 230, 169);
}
