.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7vh;
  margin: 0 1rem 0 1rem;
}

.left {
  display: flex;
}

.homeIcon {
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 48;
  text-shadow: 0 0 2px rgb(232, 230, 227), 0 0 4px rgb(232, 230, 227);
}

.title {
  margin-left: 1rem;
  font-weight: 400;
  text-shadow: 0 0 2px rgb(232, 230, 227), 0 0 3px rgb(232, 230, 227);
  font-size: 1.3rem;
}

.right {
  display: flex;
}

.searchWrapper {
  display: flex;
  align-items: center;
  border: 1px solid rgba(41, 41, 67, 1);
  border-radius: 5px;
  height: 30px;
  margin-right: 1rem;
}

.iconWrapper {
  display: flex;
  margin-bottom: 2px;
  padding: 0 0.6rem 0 0.6rem;
}

.searchIcon {
  color: rgba(114, 123, 158, 1);
  font-size: 15px !important;
  font-variation-settings: 'FILL' 0, 'wght' 700, 'GRAD' 0, 'opsz' 48;
  margin-top: 1px;
}

.input {
  font-family: inherit;
  font-size: 0.8rem;
  font-weight: 600;
  background-color: inherit;
  border: none;
  color: rgba(114, 123, 158, 1);
  height: 22px;
}

.starIcon {
  font-variation-settings: 'FILL' 1;
  font-size: 18px !important;
}

/* removes default onfocus border */
input:focus {
  outline: none;
}

::placeholder {
  color: rgba(114, 123, 158, 1);
}
